@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono;
  }
  #resumeHead,
  #resumeMain {
    font-family: "IBM Plex Mono", monospace;
    @apply bg-white;
    @apply px-6;
  }

}

@layer components {
  .y {
    @apply text-yellow-200;
  }
  .r {
    @apply text-red-500;
  }
  .p {
    @apply text-purple-500;
  }
  .b {
    @apply text-cyan-400;
  }
  .o {
    @apply text-orange-400
  }
  .ide {
    border: 1px solid yellow;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }
  .console {
    border: 1px solid green;
    flex-basis: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .console-content {
    flex-grow: 1;
    overflow-y: auto;
    height: 300px;
  }
}
