@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono;
  }
}

@layer components {
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .cursor {
    animation: blink 1s infinite ease-in-out;
  }
}
