@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono;
  }
  #resumeHead,
  #resumeMain {
    font-family: "IBM Plex Mono", monospace;
    @apply bg-white;
    @apply px-6;
  }
}

@layer components {
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .cursor {
    animation: blink 1s infinite ease-in-out;
  }
  .console {
    transition: all 1s ease-in-out;
  }
  .y {
    @apply text-yellow-200;
  }
  .r {
    @apply text-red-500;
  }
  .p {
    @apply text-purple-500;
  }
  .b {
    @apply text-cyan-400;
  }
  .o {
    @apply text-orange-400
  }
}
